@model IEnumerable<KlatenUniversityWebApp.Models.Course>

    @{
    ViewData["Title"] = "Index";
    }

    <h2>Courses</h2>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>

    <form asp-controller="Courses" asp-action="Index" method="get">
        <div class="input-group mb-3">
            <span class="input-group-text">&#x1F50E;</span>
            <input class="form-control" type="text" name="SearchString" placeholder="Type to search..."/>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
